* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #ffffff;
  color: #111827;
}

/* HEADER / HERO  */
.title {
  background: #fff7e6;
  padding: 30px ;
  position: relative;
}

/*  NAVBAR  */
.title h1 {
  color: #2563eb;
  font-size: 20px;
  font-weight: 700;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 15px;
}

.nav-link a:hover{
    color: #2563eb;
}

.nav-link nav {
  display: flex;
  gap: 24px;
}

.nav-link nav a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
}

.login {
  margin-left: auto;
  margin-right: 16px;
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
}


.button {
  background: #2563eb;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover{
    background-color: #cc631d;
    cursor: pointer;
}

/*  HERO CONTENT  */
.title h3 {
  margin-top: 80px;
  color: #16a34a;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title h2 {
  font-size: 44px;
  font-weight: 800;
  margin: 14px 0;
  max-width: 600px;
  line-height: 1.2;
}

.title p {
  max-width: 540px;
  color: #4b5563;
  margin-bottom: 32px;
}

/* SEARCH  */
.title input {
  width: 320px;
  padding: 14px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-right: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,.1);
}

.title button {
  padding: 14px 26px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.title button:hover{
    background-color: #cc631d;
    cursor: pointer;
}


/*  HERO IMAGE  */
.title img {
  position: absolute;
  right: 8%;
  top: 120px;
  width: 550px;
  border-radius: 16px;
}

/* BRANDS  */
.brands {
  padding: 60px 8%;
  text-align: center;
  background-color: #f7f7f7;
  padding: 80px;
  margin-bottom: 56px;
}

.brands h3 {
  font-size: 13px;
  color: #6b7280;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.brand-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.brand-img img {
  height: 75px;
  opacity: 0.8;
  transition: 0.3s ease;
  width: 75px;
}

.brand-img img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.brands p{
    color: #2563eb;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
/*  ICON  */
.bulb-icon {
  margin-top: 20px;
  color: #2563eb;
  width: 20px;
  height: 20px;
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 55px;
    border-top: 1px solid #b6b6b6;
    margin-top: 60px;
    color: #4b5563;
    background: #f5f5f5;
}

.job-category li{
    list-style: none;
    line-height: 2.0;
}

.job-category li:hover{
    color: #241c1c;
    cursor: pointer;
}

.explore-locations{
    list-style: none;
    line-height: 2.0;
}

.explore-locations li:hover{
    color: #241c1c;
    cursor: pointer;
}

.company{
    list-style: none;
    line-height: 2.0;
}

.company li:hover{
    color: #241c1c;
    cursor: pointer;
}

.legals{
    list-style: none;
    line-height: 2.0;
}

.legals li:hover{
    color: #241c1c;
    cursor: pointer;
}

.media{
    list-style: none;
    line-height: 2.0;
}

.media li:hover{
    color: #241c1c;
    cursor: pointer;
}

.services{
  line-height: 2.0;
  list-style: none;
}

.services li:hover{
    cursor: pointer;
    color: #241c1c;
}

.main-heading{
    font-weight: 700;
    color: #000000;
}

.copyright{
    text-align: center;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 40px;
    line-height: 1.9;
    border-top: 1px solid #b6b6b6;
}

/* NEWSLETTER */

.success-section{
  margin-top: 80px;
}

.newsletter h4{
    font-size: 18px;
    color: #16a34a;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.newsletter h2{
    font-size: 32px;
    text-align: center;

}

.subscribe{
    text-align: center;
    font-size: 17px;
    padding: 20px;
}

.btn-subs{
    padding: 20px;
    border-radius: 50px;
    background-color: #2563eb;
    color: #fff;
    text-align: center;
   position: absolute;
    margin-left: 250px;
    width: 240px;
}

.btn-subs:hover{
    cursor: pointer;
   background-color: #4b5563;
}

#placeholder{
    padding: 14px;
    margin-left: 350px;
    width: 240px;
}

.newsletter p{
 text-align: center;
}

.newsletter img{
  width: 345px;
  display: flex;
  margin-left: 500px;
  margin-bottom: 20px;
  
}

.newsletter button{
  border-radius: 10px;
  padding: 20px;
  background-color: #2563eb;
  color: #fff;
  margin-left: 500px;
  margin-bottom: 20px;
}

.newsletter button:hover{
  background-color: #cc631d;
}

.success-section {
  padding: 60px 8%;
  background: #fffaf0;
  font-family: Arial, sans-serif;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

/* SUCCESS STORIES */
.success-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 60px;
}

.story-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.story-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  color: #2c7be5;
}

/* SERVICES */
.success-section h4{
  color: #16a34a;
  font-size: 18px;
  text-align: center;
  margin-bottom: 22px;
}


.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-bottom: 60px;
}

.service-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  text-align: center;
}

.service-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.service-card button {
  background: #2c7be5;
  color: white;
  border: none;
  padding: 12px 16px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.service-card button:hover{
  background-color: #cc631d;
}
/* NEWSLETTER */
.newsletter {
  text-align: center;
  background: #fff;
  padding: 40px 20px;
  border-radius: 10px;
}

.newsletter-form {
  margin-top: 20px;
}

.newsletter-form input {
  padding: 10px;
  width: 250px;
  max-width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter-form button {
  padding: 10px 18px;
  background: #2c7be5;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.jobsek{
  margin-top: 20px;
}

/* JOBS */

.job-register{
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
}

.job-register h4{
    text-align: center;
    color: #16a34a;
}

.job-register h2{
    text-align: center;
    margin-top: 18px;
    font-size: 35px;
}

.job-register p{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.job-register ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 22px;
    margin-top: 20px;
}

/* FIND JOBS */

.find-jobs{
  background-color: #fff7e6;
  padding: 96px;
}

.find-jobs h2{
  text-align: center;
}

.find-jobs p{
  padding: 20px;
}

/* TESTIMONIALS */

.testimonials{
  padding:  20px;
  margin-bottom: 56px;
  margin-top: 32px;
  background-color: #fff7e6;
  border-top: 2px solid #fff7e6;
  display: flex;
  max-width: 3200px;
  align-items: center;
  justify-content: space-between;
}

.success-str h4{
  color: #16a34a;
  text-align: center;
  padding: 20px;
}

.success-str h2{
  text-align: center;
  font-size: 40px;
}

.testimony{
  font-size: 18px; 
}

.copy-text{
  font-size: 12px;
  margin-top: 2px;
}

.icon{
  width: 24px;
  height: 24px;
  margin-top: 16px;
}


.titlebar{
  display: grid;
  align-items: center;
}

.find-jobs h4{
  color: #16a34a;
  text-align: center;
}

.iraq{
  background-image: url(images/iraq.jfif);
  height: 250px;
  width: 250px;
  border-radius: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.oman{
  background-image: url(images/oman.jfif);
  height: 250px;
  width: 250px;
  border-radius: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.kuwait{
  background-image: url(images/kuwait.jfif);
  height: 250px;
  width: 250px;
  border-radius: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.UAE{
  background-image: url(images/uae.jfif);
  height: 250px;
  width: 250px;
  border-radius: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bahrain{
  background-image: url(images/bahrain.jfif);
  height: 250px;
  width: 250px;
  border-radius: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.jordan{
  background-image: url(images/jordan.jfif);
  height: 250px;
  width: 250px;
  border-radius: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.saudi{
  background-image: url(images/saudi.jfif);
  height: 250px;
  width: 250px;
  border-radius: 30px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.countries{
 display: grid;
 grid-template-columns: 200px 200px 200px 200px;
 gap: 5em;
}


.jobs{
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.find-jobs p{
  border-radius: 35px;
  padding: 20px;
  border: 2px solid #fff;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: #fff;
}

.start{
  margin-top: 20px;
  margin-bottom: 28px;
}
